# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import data set from Ironhack's database (when you can connect to the database) or from the csv file directly
#driver = 'mysql+pymysql:'
#user = 'ironhacker_read'
#password = 'ir0nhack3r'
#ip = '35.239.232.23'
#database = 'pokemon'

In [3]:
#connection_string = f'{driver}//{user}:{password}@{ip}/{database}'

In [4]:
# import from the csv file downloaded on my PC
pokemon = pd.read_csv("pokemon.csv", sep = ",")
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### Print first 10 rows of `pokemon`.

In [5]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [6]:
# All values in Type 1
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [7]:
# All values in Type 2
pokemon["Type 2"].value_counts()

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ice         14
Rock        14
Ghost       14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

In [8]:
# Create array that groups Type 1 and Type 2
pokemon.groupby(["Type 1", "Type 2"]).count()

                    #  Name  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
Type 1   Type 2
Bug      Electric   2     2      2   2       2        2        2        2
         Fighting   2     2      2   2       2        2        2        2
         Fire       2     2      2   2       2        2        2        2
         Flying    14    14     14  14      14       14       14       14
         Ghost      1     1      1   1       1        1        1        1
         Grass      6     6      6   6       6        6        6        6
         Ground     2     2      2   2       2        2        2        2
         Poison    12    12     12  12      12       12       12       12
         Rock       3     3      3   3       3        3        3        3
         Steel      7     7      7   7       7        7        7        7
         Water      1     1      1   1       1        1        1        1
Dark     Dragon     3     3      3   3       3        3        3        3
         Fighting   2     2      2   2       2        2        2        2
         Fire       3     3      3   3       3        3        3        3
         Flying     5     5      5   5       5        5        5        5
         Ghost      2     2      2   2       2        2        2        2
         Ice        2     2      2   2       2        2        2        2
         Psychic    2     2      2   2       2        2        2        2
         Steel      2     2      2   2       2        2        2        2
Dragon   Electric   1     1      1   1       1        1        1        1
         Fairy      1     1      1   1       1        1        1        1
         Fire       1     1      1   1       1        1        1        1
         Flying     6     6      6   6       6        6        6        6
         Ground     5     5      5   5       5        5        5        5
         Ice        3     3      3   3       3        3        3        3
         Psychic    4     4      4   4       4        4        4        4
Electric Dragon     1     1      1   1       1        1        1        1
         Fairy      1     1      1   1       1        1        1        1
         Fire       1     1      1   1       1        1        1        1
         Flying     5     5      5   5       5        5        5        5
...                ..   ...    ...  ..     ...      ...      ...      ...
Rock     Fighting   1     1      1   1       1        1        1        1
         Flying     4     4      4   4       4        4        4        4
         Grass      2     2      2   2       2        2        2        2
         Ground     6     6      6   6       6        6        6        6
         Ice        2     2      2   2       2        2        2        2
         Psychic    2     2      2   2       2        2        2        2
         Steel      3     3      3   3       3        3        3        3
         Water      6     6      6   6       6        6        6        6
Steel    Dragon     1     1      1   1       1        1        1        1
         Fairy      3     3      3   3       3        3        3        3
         Fighting   1     1      1   1       1        1        1        1
         Flying     1     1      1   1       1        1        1        1
         Ghost      4     4      4   4       4        4        4        4
         Ground     2     2      2   2       2        2        2        2
         Psychic    7     7      7   7       7        7        7        7
         Rock       3     3      3   3       3        3        3        3
Water    Dark       6     6      6   6       6        6        6        6
         Dragon     2     2      2   2       2        2        2        2
         Electric   2     2      2   2       2        2        2        2
         Fairy      2     2      2   2       2        2        2        2
         Fighting   3     3      3   3       3        3        3        3
         Flying     7     7      7   7       7        7        7        7
         Ghost      2     2      2   2       2        2        2        2
         Grass      3     3      3   3       3        3        3        3
         Ground    10    10     10  10      10       10       10       10
         Ice        3     3      3   3       3        3        3        3
         Poison     3     3      3   3       3        3        3        3
         Psychic    5     5      5   5       5        5        5        5
         Rock       4     4      4   4       4        4        4        4
         Steel      1     1      1   1       1        1        1        1

                   Speed  Generation  Legendary
Type 1   Type 2
Bug      Electric      2           2          2
         Fighting      2           2          2
         Fire          2           2          2
         Flying       14          14         14
         Ghost         1           1          1
         Grass         6           6          6
         Ground        2           2          2
         Poison       12          12         12
         Rock          3           3          3
         Steel         7           7          7
         Water         1           1          1
Dark     Dragon        3           3          3
         Fighting      2           2          2
         Fire          3           3          3
         Flying        5           5          5
         Ghost         2           2          2
         Ice           2           2          2
         Psychic       2           2          2
         Steel         2           2          2
Dragon   Electric      1           1          1
         Fairy         1           1          1
         Fire          1           1          1
         Flying        6           6          6
         Ground        5           5          5
         Ice           3           3          3
         Psychic       4           4          4
Electric Dragon        1           1          1
         Fairy         1           1          1
         Fire          1           1          1
         Flying        5           5          5
...                  ...         ...        ...
Rock     Fighting      1           1          1
         Flying        4           4          4
         Grass         2           2          2
         Ground        6           6          6
         Ice           2           2          2
         Psychic       2           2          2
         Steel         3           3          3
         Water         6           6          6
Steel    Dragon        1           1          1
         Fairy         3           3          3
         Fighting      1           1          1
         Flying        1           1          1
         Ghost         4           4          4
         Ground        2           2          2
         Psychic       7           7          7
         Rock          3           3          3
Water    Dark          6           6          6
         Dragon        2           2          2
         Electric      2           2          2
         Fairy         2           2          2
         Fighting      3           3          3
         Flying        7           7          7
         Ghost         2           2          2
         Grass         3           3          3
         Ground       10          10         10
         Ice           3           3          3
         Poison        3           3          3
         Psychic       5           5          5
         Rock          4           4          4
         Steel         1           1          1

[136 rows x 11 columns]

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [9]:
# Importing re package for using regular expressions 
import re 
  
          
# Updated the Name column 
pokemon["Name"] = pokemon["Name"].apply(lambda x: re.sub(".*Mega", "Mega", x))
  
# Print dataframe head 
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [10]:
pokemon["A/D Ratio"] = pokemon.Attack / pokemon.Defense
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [11]:
# Value for the highest A/D Ratio
pokemon["A/D Ratio"].max()

9.0

In [12]:
# Index number corresponding to the maximum A/D Ratio value
pokemon["A/D Ratio"].idxmax()

429

In [13]:
# Name of the Pokemon with the highest A/D Ratio
pokemon.loc[pokemon["A/D Ratio"].idxmax()]

#                            386
Name          DeoxysAttack Forme
Type 1                   Psychic
Type 2                       NaN
Total                        600
HP                            50
Attack                       180
Defense                       20
Sp. Atk                      180
Sp. Def                       20
Speed                        150
Generation                     3
Legendary                   True
A/D Ratio                      9
Name: 429, dtype: object

In [14]:
# Name of the Pokemon with the maximum value
pokemon["Name"].loc[pokemon["A/D Ratio"].idxmax()]

'DeoxysAttack Forme'

#### Identify the pokemon with the lowest A/D Ratio.

In [15]:
# Name of the Pokemon with the maximum value
pokemon["Name"].loc[pokemon["A/D Ratio"].idxmin()]

'Shuckle'

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [16]:
# Create the Combo Type column in the dataframe
# Updated the Name column 
pokemon["Combo_type"] = "default value"
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo_type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,default value
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,default value
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,default value
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,default value
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,default value

In [17]:
# Populate the Combo_type column

In [27]:
pokemon["Combo_type"] = pokemon[["Type 1", "Type 2"]].apply(lambda x: x[0] if x[1] == "NaN" else x[0] + x[1], axis=1)
pokemon.head()

TypeError: ('can only concatenate str (not "float") to str', 'occurred at index 4')

In [26]:
pokemon["Combo_type"] = pokemon[["Type 1", "Type 2"]].apply(lambda x: x[0] if pd.isnull(x[1]) else x[0] + "-" + x[1], axis=1)
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo_type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [ ]:
# Use the sort function to sort the Dataframe by the top A/D ratios
pokemon_sorted = pokemon.sort_values(by="A/D Ratio", ascending=False)
pokemon_sorted.head(5)

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [ ]:
combo_type_list = [pokemon_sorted.loc[i,"Combo Type"] for i in range(5)]
print(combo_type_list)

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)